@use '../abstracts/colors';
.main {
}
p {
  color: colors.$text-primary;
  font-size: clamp(16px, 2vw, 18px);
  line-height: clamp(26px, 2vw, 29px);
  letter-spacing: -0.004em;
}

strong {
  color: colors.$titles-primary;
}
